:root {
    --scrollbarBg: rgba(180, 180, 220, 0.06);
    --scrollbarThumb: rgba(28, 72, 182, 0.27);
    --scrollbarWidth: 8px;
    --scrollbarBorder: 3px solid var(--scrollbarBg);
    --scrollbarBorderRadius: calc(var(--scrollbarWidth) / 2);
}

body {
    overflow: hidden;
}

.react-flow {
    width: 100%;
    height: 100vh !important;
    position: static !important;
    overflow: hidden !important;
}

.react-flow__renderer {
    overflow: hidden !important;
}

.react-flow__panel.top.left {
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 270px;
    left: 0;
    top: 82px;
    z-index: 1;
    overflow: visible;
    bottom: 0;
    position: fixed;
    background: lightgrey;
}

.card-header {
    align-items: center;
}

.card-title {
    text-wrap: none;
    text-align: center;
}

.add-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
}

.add-menu-element {
    padding: 2px 8px;
}

.add-menu-element img {
    width: 48px;
    height: 48px;
    padding: 4px;
    border-radius: 8px;
    background: rgba(90, 228, 255, 0.2);
}

.add-element-menu {
    background: aliceblue;
    padding: 8px;
    margin: 8px;
    border-radius: 16px;
    box-shadow: 0 0 36px 6px rgba(34, 60, 80, 0.25);
}

.description {
    font-family: monospace;
    text-align: left;
    margin: 2px 24px 8px;
}

.elements-manager {
    min-height: 104px;
    display: flex;
    flex-direction: column;
    background: aliceblue;
    padding: 12px 8px;
    border-radius: 16px;
    user-select: none;
    box-shadow: 0 0 36px 6px rgba(34, 60, 80, 0.25);
    overflow-y: auto;
    max-height: 536px;
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumb) var(--scrollbarBg);
}

.elements-manager span {
    color: dimgray;
    margin: auto;
}

.elements-manager::-webkit-scrollbar {
    width: var(--scrollbarWidth);
    margin: 8px;
}

.elements-manager::-webkit-scrollbar-track {
    background: var(--scrollbarBg);
    border-radius: var(--scrollbarBorderRadius);
}

.elements-manager::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumb);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
}

.show_values {
    width: 20px;
    height: 20px;
    margin-left: 4px;
    border-radius: 4px;
    border: none;
}

.react-flow__node.selected {
    background: rgba(34, 178, 230, 0.25) !important;
}

.react-flow__node.errored {
    background: rgba(255, 0, 0, 0.25) !important;
}

.element {
    border-radius: 6px;
}

.element.selected {
    background: rgba(34, 178, 230, 0.29);
}

.element.errored {
    background: rgba(255, 0, 0, 0.29);
}

.react-flow__edge .react-flow__edge-path{
    stroke: grey;
    stroke-width: 1.5;
}

.element-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
}
