.context-menu {
  background: white;
  border: darkgrey solid 2px;
  border-radius: 8px;
  box-shadow: 10px 19px 20px rgba(106, 106, 106, 0.1);
  position: absolute;
  z-index: 10;
}

.context-menu button {
  border: none;
  display: block;
  padding: 0.5em;
  text-align: left;
  width: 100%;
}

.context-menu button:hover {
  background: white;
}

