.sidebar {
    height: 100%;
    width: 270px;
    left: 0;
    top: 82px;
    z-index: 1;
    overflow: visible;
    bottom: 0;
    position: fixed;
    background: lightgrey;
}

.card-header {
    align-items: center;
}

.card-title {
    text-wrap: none;
    text-align: center;
}

.add-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    gap: 8px;
}

.dndnode {
    width: 72px;
    height: 56px;
    border: #007bff 2px solid;
    border-radius: 8px;
    background: #fff;

}

.add-element-menu {
    background: aliceblue;
    padding: 8px;
    margin: 8px;
    border-radius: 16px;
    box-shadow: 0 0 36px 6px rgba(34, 60, 80, 0.25);
}

.dndnode img {
    width: 60px;
    height: 60px;
    padding: 4px;
}

.description {
    text-align: left;
    margin: 2px 24px 8px;
}