.sidebar {
    height: 100%;
    width: 270px;
    left: 0;
    top: 82px;
    z-index: 1;
    overflow: visible;
    bottom: 0;
    position: fixed;
    background: lightgrey;
}

.card-header {
    align-items: center;
}

.card-title {
    text-wrap: none;
    text-align: center;
}

.add-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 8px;
    gap: 8px;
}

.add-element-menu {
    background: aliceblue;
    padding: 8px;
    margin: 8px;
    border-radius: 16px;
    box-shadow: 0 0 36px 6px rgba(34, 60, 80, 0.25);
}

.description {
    text-align: left;
    margin: 2px 24px 8px;
}

.elements-manager {
    display: flex;
    flex-direction: column;
    background: aliceblue;
    padding: 8px;
    border-radius: 16px;
    user-select: none;
    box-shadow: 0 0 36px 6px rgba(34, 60, 80, 0.25);
}

.element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    padding: 0 8px;
}

/*.element.selected {*/
/*    background: rgba(34, 178, 230, 0.29);*/
/*}*/
