@font-face {
    font-family: 'AzeretMono';
    src: url('../../../assets/fonts/AzeretMono.ttf') format('truetype');
}

.bulb_glow {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 10px 30px;
}

.switch_click_aria {
    opacity: 0;
}

.switch_click_aria:hover {
    cursor: pointer;
    background-color: rgba(125, 125, 255, 0.2);
    opacity: 0.4;
}

.react-flow__handle {
    width: 4px;
    height: 4px;
}

.rotate-button, .reflect-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 4px;
    opacity: 0;
}

.reflect-button {
    margin-right: 12px;
}

.rotate-button img, .reflect-button img {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
}

.node:hover .rotate-button, .node:hover .reflect-button {
    opacity: 1;
}
