.bulb_glow {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 10px 30px;
}

.bulb_img {
    position: absolute;
    top: 0;
    left: 0;
}

.switch_click_aria:hover {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 20px;
    margin-top: 0;
    margin-left: -20px;
    background-color: rgba(125, 125, 255, 0.2);
}

.selected {
    background: rgba(34, 178, 230, 0.29);
}

.react-flow__handle {
    width: 4px;
    height: 4px;
    position: absolute;
}

.react-flow__handle-left {
    left: -2px;
}

.react-flow__handle-right {
    right: -2px;
}

.node:hover .rotate-button {
    opacity: 1;
}

.rotate-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 4px;
    opacity: 0;
}

.rotate-button img {
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
}
