.node {

}

.selected {
    background: rgba(34, 178, 230, 0.29);
}

.node-ver {
    transform: rotate(90deg);
}

.react-flow__handle {
    width: 4px;
    height: 4px;
    position: absolute;
}

.react-flow__handle-left {
    left: -2px;
}

.react-flow__handle-right {
    right: -2px;
}